*{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    font-size: 50px;
    line-height: 2;
    margin: 0;
}
.section1{
    background-color: #A2D2FF;
    margin: 0px;
    padding: 25px;
}
h1{
    font-family:  'Koulen', cursive;
    font-size: 90px;
    margin: 16px;
    padding: 16px;
    color: #393E46;
}
h2{
    font-family:  'Koulen', cursive;
    color: #393E46;
}
h3{
    font-family:  'Koulen', cursive;
    color: #393E46;

}
img{
    width: 15%;
    height: auto;
    border-radius: 50%;
}
#image2{
    height: 50%;
  
}
ol, ul{
    margin: 20px;
}
.section2{
    padding: 25px;
}

.section3{
    background-color: #A2D2FF;
    padding: 25px;
}

.section4{
    padding: 10px;
}